* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

body {
    background-color: #f9fafc;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.nav-links {
    display: flex;
    flex-direction: column;
}

.info-links1 {
    text-decoration: none;
    color: #69696a;
    padding: 5px 0 5px 0;
}

main {
    margin-left: 10px;
}

h1 {
    padding-bottom: 20px;
}

p {
    border-left: 3px solid #000;
    color: #69696a;
    padding-left: 15px;
}

.call-button {
    padding: 20px 10px 10px 10px;
}

.hire-us {
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 3em;
}

.footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(247, 193, 162, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.call-action {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 5px;
    border-radius: 3em;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-links2 {
    text-decoration: none;
    color: #69696a;
    padding-left: 20px;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .nav-links {
        flex-direction: row;
        align-items: flex-end;
    }

    .info-links1 {
        display: flex;
        padding-right: 10px;
    }

    main {
        display: flex;
        justify-content: space-between;
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: absolute;
        top: 185px;
    }

    .call-button {
        width: 100%;
        padding: 20px 0 10px 0;
    }

    .circle-container {
        display: flex;
        justify-content: flex-end;
        height: 400x;
        width: 50%;
        padding-right: 20px;
    }

    .large {
        background-color: rgba(247, 136, 167, 0.6);
        height: 200px;
        width: 200px;
        position: absolute;
        right: 75px;
        top: 185px;
        border-radius: 50%;
    }

    .small {
        background-color: rgba(207, 130, 213, 0.6);
        height: 100px;
        width: 100px;
        position: absolute;
        top: 220px;
        right: 20px;
        border-radius: 50%;
    }

    .medium {
        background-color: rgba(247, 193, 162, 0.7);
        height: 150px;
        width: 150px;
        position: absolute;
        bottom: 525px;
        right: 20px;
        border-radius: 50%;
    }

}